@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
  <h2>Hello World!</h2>
  <a href="/DatabaseExample/DatabaseOperations">Database Query Result</a>
</body>
</html>